<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 font-weight-normal company" style="cursor: pointer;" routerLink="/home">CodingShowcase</h5>
    <nav class="my-2 my-md-0 me-1">
      <a class="p-2 text-dark" href="/showcases">Showcases</a>
      <a class="p-2 text-dark" href="/games">Games</a>
    </nav>
    
    @if (!appcomponent.isLoggedIn) {
      <a class="btn btn-outline-primary" routerLink="/login">Sign up</a>
    } @else {
      <div id="profile" class="dropdown rounded border">
        <button class="d-flex flex-column flex-md-row align-items-start p-1 text-dark btn dropdown-toggle"
          id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img [src]="appcomponent.iconPath" alt="ProfileIcon" class="border box-shadow rounded-circle me-2">
          <span class="me-5 align-middle">{{ appcomponent.username }}</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/profile" routerLink="profile">Profile</a>
          <a class="dropdown-item" (click)="appcomponent.logout()">Logout</a>         
        </div>
      </div>
    }
</header>